#graph_container {
  position: relative;
}
#graph {
        overflow: auto;
        position: relative;
        left: 20px;
        right: 20px;
        svg { 
          background-color: rgba(241,241,241,1); 
        }
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
}
#x_axis {
        position: relative;
        top: 0;
        bottom: 0;
        height: 30px;
        left: 20px;
}
#legend {
  background: #fff;
  color: #000;
  li {
    display: inline;
  }
}