<head>
  <link rel="stylesheet" href="http://code.shutterstock.com/rickshaw/rickshaw.min.css">
  <script src="http://code.shutterstock.com/rickshaw/vendor/d3.min.js"></script>
  <script src="http://code.shutterstock.com/rickshaw/vendor/d3.layout.min.js"></script>
  <script src="http://code.shutterstock.com/rickshaw/rickshaw.js"></script>
</head>
<template name="graph">
  <div id ="graph_container">
    <div id="y_axis"></div>
    <div id="graph"></div>
    <div id="legend"></div>
  </div>
</template>
