<head>
  <link rel="stylesheet" href="http://code.shutterstock.com/rickshaw/rickshaw.min.css">
  <script src="http://code.shutterstock.com/rickshaw/vendor/d3.min.js"></script>
  <script src="http://code.shutterstock.com/rickshaw/vendor/d3.layout.min.js"></script>
  <script src="/rickshaw.js"></script>
</head>


<template name="graph">
  <table id="class-overview">
    <caption>Class Overview</caption>
    <tr>
      <th id="percent-flips">% of all flips complete</th>
    </tr>
    <tr id="graph-container">
      <td>    
        <div>
          <div id="y_axis"></div>
          <div id="graph"></div>
          <div id="x_axis"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td><div id="legend"></div></td>
    </tr>
  </table>
</template>
